@media (max-width: 768px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-addTask {
        width: 85%;
    }

    .tasklist-item {
        width: 85%;
    }

    .blur1, .blur2 {
        width: 19rem;
        height: 19rem;
    }
    
}

@media (max-width: 568px) {
    .input-addtask {
        font-size: 1rem;
        padding: 0 1rem 0 4.5rem;
    }

    .submit-task {
        width: 2.8rem;
        height: 2.8rem;
    }

    .main-task {
        width: 75%;
    }

    .task-name {
        font-size: 1rem;
    }

    
}

@media (max-width: 459px) {
    .tasklist-item .actions {
        width: 24%;
    }
    .tasklist-item .actions button img {
        margin-top: 2px;
    }
}

@media (max-width: 446px) {
    .input-addtask {
        font-size: 0.9rem;
        padding: 0 1rem 0 3.9rem;
    }

    .submit-task {
        width: 2.3rem;
        height: 2.3rem;

        font-size: 1.8rem;

        border-radius: 15px;
    }

    .task-name {
        font-size: 0.9rem;
    }
}

@media (max-width: 399px) {
    .input-addtask {
        font-size: 0.9rem;
        padding: 0 0.7rem 0 3rem;
    }

    .submit-task {
        width: 2rem;
        height: 2rem;

        font-size: 1.7rem;

        border-radius: 12px;

        margin: 0 0.6rem;
    }

    .task-name {
        font-size: 0.9rem;
    }
    
    .main-task {
        width: 65%;
    }
}

@media (max-width: 376px) {
    .input-addtask {
        font-size: 12px;
        padding: 0 0.7rem 0 2.5rem;
    }

    .submit-task {
        width: 1.5rem;
        height: 1.5rem;

        font-size: 1rem;

        border-radius: 7px;

        margin: 0 0.6rem;
    }

    .task-name {
        font-size: 0.9rem;
    }
}
